html {
  --border-radius-large: 10px;
  --border-radius-small: 5px;
  --saveThisInstanceButtonHeight: 100px;
  --modal-width: 400px;
  --modal-height: 200px;
  --modal-label-font-size: 1.15rem;
  --modal-font-size: 1.5rem;
  --panel-transition-speed: 0.05s;
  --background: #171a17;
  --color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
  &.view-left {
    header {
      z-index: 2;
      width: 100% !important;
    }
    main {
      width: 0% !important;
      #calendar-week-header { 
        > div {
          color: transparent;
        }
      }
    }
  }
  #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }
}

#Front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100vh;
  width: 100vw;

  p.error {
    text-align: center;
    color: red;
  }

  h1 {
    color: skyblue;
    font-size: 4rem;
  }

  .Tabs {
    width: 64vw;
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      background: transparent;
      margin-bottom: 2rem;
      border: none;
      &:focus {
        outline: none;
      }
      &.active {
        border-bottom: 2px solid skyblue;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .Tab-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 36%;
      border: none;
      border-bottom: 1px solid #EBEDEF;
      background-color: transparent;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: start;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 1rem;
      &::placeholder {
        color: lightgray;
      }
      margin: 0.1rem;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 36%;
      border: none;
      font-weight: 100;
      margin: 0.5rem;
      border-radius: var(--border-radius-small);
      background: lightgray;
      color: white;
      padding: 0.5rem;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
        background: skyblue;
      }
    }
  }
}

#left {
  backdrop-filter: blur(10px);
  z-index: 0;
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  flex-direction: column;
  overflow: auto;;
  background: url(/wallpaper01.webp);
  h2 {
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      color: white;
      font-family: system-ui;
      font-weight: 200;
    }
  }
  .tr {
    width: 100%;
    display: flex;
    background: black;
    color: white;

    &.updated {
      border: 1px solid lawngreen;
      outline: 1px solid green;
    }

    .th {
      font-family: Andale Mono;
      background: black;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      box-sizing: border-box;
    }

    .th:nth-of-type(1),
    .td:nth-of-type(1) {
      width: 40%;
    }

    .th:nth-of-type(2),
    .td:nth-of-type(2) {
      width: 15%;
    }

    .th:nth-of-type(3),
    .td:nth-of-type(3) {
      width: 15%;
    }

    .th:nth-of-type(4),
    .td:nth-of-type(4) {
      width: 15%;
    }

    .th:nth-of-type(5),
    .td:nth-of-type(5) {
      width: 15%;
    }

    .hidden {
      display: none !important;
    }

    &.button-row-right {
      display: flex;
      justify-content: flex-end;
      background: transparent;
      button {
        border: none;
        background: none;
        font-size: 1.5rem;
        font-weight: 100;
        font-family: system-ui;
        color: whitesmoke;
      }
    }
  }
  
 
}

#expand-to-budget {
  position: absolute;
  left: 5px;
  top: calc(100% - 26px);
  z-index: 100;
}

main#main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Charter;
  width: 100%;
  height: 100%;
  transition: var(--panel-transition-speed) linear all;
  background: white;
  z-index: 1;
  float: right;
  left: 0;

  #calendar-month-header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    background: white;

    > div {
      display: flex;
    }

    #prev-month, #go-to-today, #next-month, #expand, #simple {
      background: white;
      margin: 0.5px;
      border: none;
      outline: none;
      height: 20px;
      color: black;
      border-radius: 5px;
      box-shadow: 0 0.35px 1px 0.55px rgb(0 0 0 / 23%);

      &:active {
        background: rgb(0 0 0 / 6%);;
      }

      &:hover {
        cursor: pointer;
      }

      span {
        font-size: 0.75rem;
        display: flex;
      }
    }

    #prev-month span {
      transform: rotate(45deg);
    }

    #next-month span {
      transform: rotate(225deg);
    }
  }

  #calendar-week-header {
    display: flex;
    height: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: white;

    > div {
      width: calc(100% / 7 - 1px);
      display: flex;
      font-weight: 300;
      align-items: center;
      justify-content: flex-end;
      height: 2rem;
      /*text-shadow: 0px 1px 2px grey;*/
      font-family: system-ui;
    }
  }

  #calendar {
    width: 100%;
    height: calc(100% - 5rem);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.13);
    .week {
      height: calc(100% / 6);
      background: transparent;
      .day-block {
        display: inline-flex;
        flex-direction: column;
        width: calc(100% / 7 - 1px);
        height: calc(100% - 1px);
        margin: 0 1px 0 0;
        background: white;
        float: left;
        overflow-x: hidden;
        .day-header {
          height: 25%;
          width: 100%;
          justify-content: flex-end;
          display: flex;
          transform-style: preserve-3d;
          .day-date {
            height: calc(100% - 6px);
            margin: 3px;
            width: 1.65rem;
            height: 1.65rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,0.0);
            border-radius: 100%;
            user-select: none;
            &.today {
              background: maroon;
              color: white;
            }
          }
          .total {
            display: flex;
            align-items: start;
            justify-content: space-around;
            flex-grow: 1;
            text-align: center;
            padding: 0.25rem 0;
            font-weight: 700;
            font-size: 1.25rem;
            width: 50%;
            height: 1.5rem;
            #checking-balance {
              flex-grow: 1;
              border: none;
              width: 100%;
              text-align: center;
              font-weight: 700;
              display: flex;
            }
          }
        }
      }
    }
  }
}

select {
  width: 100%;
}

.HeaderActions {
  display: flex;
  justify-content: end;
  button {
    @extend .HeaderButton;
  }
}

.HeaderButton {
  background-color: transparent;
  border: none;
  margin: 0 3px;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  &:last-of-type {
    font-size: 1.8rem;
  }
  display: flex;
  align-items: center;
  justify-content: center;;
  &:hover {
    cursor: pointer;
    background: #EBEDEF;
  }
}