html {
  --border-radius-large: 10px;
  --border-radius-small: 5px;
  --saveThisInstanceButtonHeight: 100px;
  --modal-width: 400px;
  --modal-height: 200px;
  --modal-label-font-size: 1.15rem;
  --modal-font-size: 1rem;
  --panel-transition-speed: 0.1s;
  --background: #171a17;
  --color: whitesmoke;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.hidden {
  display: none !important;
}

 select {
    height: 100%;
    border: none;
    border-bottom: 1px solid lightgray;

    border-left: 1px solid lightgray;
    appearance: initial;
    padding: 0.15rem;
    &:focus {
      outline: none;
    }
  }

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  &.view-left-main {
    header {
      z-index: 2;
      width: 50% !important;
    }
    footer {
      z-index: 0;
    }
    main {
      width: 50% !important;
    }
  }
  &.view-left-right {
    main {
      z-index: 0;
      width: 0% !important;
      #calendar-month-header {
        padding: 0 !important;
      }
      #calendar-month-header > div:first-of-type, #calendar-week-header, #month-name, #year-name {
        display: none !important;
      }
    }
    header {
      z-index: 2;
      width: 50% !important;
    }
    footer {
      z-index: 2;
      background: #EBEDEF;
      float: right;
      width: 50% !important;
    }
  }
  &.view-right-main {
    header {
      z-index: 0;
    }
    footer {
      z-index: 2;
      background: #EBEDEF;
      float: right;
      width: 50% !important;
    }
    main {
      width: 50% !important;
    }
  }
  #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }
}

#Front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100vh;
  width: 100vw;

  p {
    text-align: center;
    &.error {
      color: red;
    }
    &.message {
      color: green;
    }
  }

  h1 {
    color: skyblue;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: system-ui;
  }

  .Tabs {
    width: 64vw;
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      background: transparent;
      margin-bottom: 2rem;
      border: none;
      &:focus {
        outline: none;
      }
      &.active {
        border-bottom: 2px solid skyblue;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .Tab-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 36%;
      border: none;
      border-bottom: 1px solid #EBEDEF;
      background-color: transparent;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: start;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 1rem;
      &::placeholder {
        color: lightgray;
      }
      margin: 0.1rem;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 36%;
      border: none;
      font-weight: 100;
      margin: 0.5rem;
      border-radius: var(--border-radius-small);
      background: lightgray;
      color: white;
      padding: 0.5rem;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
        background: skyblue;
      }
    }
  }
}

#left {
  position: absolute;
  backdrop-filter: blur(10px);
  background: url(/wallpaper01.webp);
  h2 {
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      color: white;
      font-family: system-ui;
      font-weight: 200;
    }
  }
  a {
    text-decoration: none;
  }
  .td {
    background: white;
    box-sizing: border-box;
    overflow: hidden;
    white-space: pre;
    * {
      box-sizing: border-box;
    }
  }
  #table-expense {
    .th:nth-child(1),
    .td:nth-child(1) {
      width: 30%;
    }

    .th:nth-child(2),
    .td:nth-child(2) {
      width: 17%;
    }

    .th:nth-child(3),
    .td:nth-child(3) {
      width: 15%;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      width: 19%;
    }

    .th:nth-child(5),
    .td:nth-child(5) {
      width: 19%;
    }
  }

  #table-debt {
    .th:nth-child(1),
    .td:nth-child(1) {
      width: 25%;
    }

    .th:nth-child(2),
    .td:nth-child(2) {
      width: 12.5%;
    }

    .th:nth-child(3),
    .td:nth-child(3) {
      width: 12.5%;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      width: 15%;
    }

    .th:nth-child(5),
    .td:nth-child(5) {
      width: 15%;
    }

    .th:nth-child(6),
    .td:nth-child(6) {
      width: 20%;
    }
  }

  .tr {
    width: 100%;
    &.header {
      width: calc(100% - 1rem);
      background: black;
    }
    display: flex;
    background: transparent;
    color: white;

    &.updated {
      /*border: 1px solid lawngreen;
      outline: 1px solid green;*/
    }

    .th {
      font-family: Andale Mono;
      background: transparent;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      box-sizing: border-box;
    }


    

    #table-debt {

    }

    .delete-t {
      font-size: 0.9rem;
      width: 1rem;
      @extend .table-button;
    }

    &.button-row-right {
      display: flex;
      justify-content: flex-end;
      background: transparent;
      button {
        @extend .table-button;
        font-size: 1.5rem;

        &.refreshing {
          animation: rotate 1s linear infinite;
        }
      }
    }
  }
  > * {
    margin: 0.5rem;
  }
}

#right {
  position: relative;
  background: white;
  padding-top: 2rem !important;
  #outlook {
    display: flex;
    flex-direction: column;
    .mini-month-row {
      display: flex;
      justify-content: space-between;
      .mini-month {
        display: flex;
        flex-direction: column;
        width: calc(100vw / 2 / 3);
        height: 11rem;
        @media (max-width: 950px) {
          width: 25vh;
          height: 25vh;
        }
        box-sizing: border-box;
        background: white;
        margin: 0rem 0.5rem;
        h2 {
          font-size: 1rem;
          color: darkslategrey;
          font-family: system-ui;
          font-weight: 200;
          margin: 0.5rem 0 0.25rem 0;
          padding: 0.15rem 0.25rem;
        }
        .row {
          width: 100%;
          display: flex;
          justify-content: space-around;
          span {
            font-size: 0.5rem;
            padding: 0.1rem;
            width: 0.75rem;
            height: 0.75rem;
          }
          .dow {
            padding: 0.1rem;
            color: gray;
          }
        }
        .weeks {
          flex-grow: 1;
          max-height: 6rem;
          .day-date {
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.opaque {
              color: lightgray !important;
            }
            &:hover {
              cursor: pointer;
              background: rgba(0,0,0,0.1);
            }
          }
        }
        .info-footer {
          width: 100%;
          box-sizing: border-box;
          padding: 0.1rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: end;
          span {
            font-size: 0.75rem;
          }
          i {
            font-size: 0.5rem;
            margin: 0 0.25rem 0 0.5rem;
          }
        }
      }
    }
  }
}

#left, #right {
  box-sizing: border-box;
  padding: 0;
  z-index: 0;
  left: 0;
  width: 0%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  overflow: auto;
  transition: var(--panel-transition-speed) linear all;
}

#expand-to-budget {
  position: absolute;
  left: 5px;
  top: calc(100% - 26px);
  z-index: 100;
}

#expand-to-outlook {
  position: absolute;
  left: calc(100vw - 2rem);
  top: calc(100% - 26px);
  z-index: 100;
}

main#main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Charter;
  width: 100%;
  height: 100%;
  transition: var(--panel-transition-speed) linear all;
  background: white;
  z-index: 1;
  float: right;
  left: 0;

  #calendar-month-header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    background: white;

    > div {
      display: flex;
    }

    div:last-of-type {
      position: absolute;
      left: 93%;
      z-index: 3;
      top: 1.5% !important;
    }

    #prev-month, #go-to-today, #next-month, #expand, #simple {
      background: white;
      margin: 0.5px;
      border: none;
      outline: none;
      height: 20px;
      color: black;
      border-radius: 5px;
      box-shadow: 0 0.35px 1px 0.55px rgb(0 0 0 / 23%);

      &:active {
        background: rgb(0 0 0 / 6%);;
      }

      &:hover {
        cursor: pointer;
      }

      span {
        font-size: 0.75rem;
        display: flex;
      }
    }

    #prev-month span {
      transform: rotate(45deg);
    }

    #next-month span {
      transform: rotate(225deg);
    }
  }

  #calendar-week-header {
    display: flex;
    height: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: white;

    > div {
      width: calc(100% / 7 - 1px);
      display: flex;
      font-weight: 300;
      align-items: center;
      justify-content: flex-end;
      height: 2rem;
      /*text-shadow: 0px 1px 2px grey;*/
      font-family: system-ui;
    }
  }

  #calendar {
    width: 100%;
    height: calc(100% - 5rem);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.13);
    .week {
      height: calc(100% / 6);
      background: transparent;
      .day-block {
        display: inline-flex;
        flex-direction: column;
        width: calc(100% / 7 - 1px);
        height: calc(100% - 1px);
        margin: 0 1px 0 0;
        background: white;
        float: left;
        overflow-x: hidden;
        &.opaque {
          .day-date {
            color: lightgray !important;
          }
        }
        &.weekend {
          opacity: 0.75;
          background: rgba(255,253,251,1);
          .day-header {
            .day-date {
              color: gray;
              background: transparent;
              &.today {
                color: white;
              }
            }
          }
        }
        .day-header {
          height: 25%;
          width: 100%;
          justify-content: flex-end;
          display: flex;
          transform-style: preserve-3d;
          .day-date {
            height: calc(100% - 6px);
            margin: 3px;
            width: 1.65rem;
            height: 1.65rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(255,255,255,1);
            border-radius: 100%;
            user-select: none;
            font-family: system-ui;
          }
          .total {
            display: flex;
            align-items: start;
            justify-content: space-around;
            flex-grow: 1;
            text-align: center;
            padding: 0.25rem 0;
            font-weight: 700;
            font-size: 1.25rem;
            width: 50%;
            height: 1.5rem;
            #checking-balance {
              flex-grow: 1;
              border: none;
              width: 100%;
              text-align: center;
              font-weight: 700;
              display: flex;
              font-size: 1.5rem;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .events {
        display: flex;
        flex-direction: column;
        height: 75%;
        padding: 0.5rem 0;
        overflow-y: auto;
        overflow-x: hidden;
        .event {
          height: 1rem;
          width: calc(100% - 0.75rem);
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.5px 0.25rem;
          padding: 0.1rem;
          font-size: 0.75rem;
          border-radius: 5px;
          .summary {
            flex-grow: 1;
            text-indent: 0.25rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre;
            user-select: none;
            cursor: zoom-in;
          }
        }
      }
    }
  }
}

.table-button {
  border: none;
  font-weight: 100;
  font-family: system-ui;
  color: whitesmoke;
  background: transparent;
  &:hover {
    cursor: pointer;
    font-weight: 800;
  }
}

.today {
  background: maroon !important;
  color: white;
  border-radius: 100%;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

select {
  width: 100%;
}

.HeaderActions {
  display: flex;
  justify-content: end;
  button {
    @extend .HeaderButton;
  }
}

.HeaderButton {
  background-color: transparent;
  border: none;
  margin: 0 3px;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  &:last-of-type {
    font-size: 1.8rem;
  }
  display: flex;
  align-items: center;
  justify-content: center;;
  &:hover {
    cursor: pointer;
    background: #EBEDEF;
  }
}

.modal {
  position: absolute;
  width: var(--modal-width);
  height: var(--modal-height);
  box-shadow: 0 0 3px 0;
  border-radius: 5px;
  background: white;
  z-index: 2;

  label {
    color: gray;
    font-size: var(--modal-label-font-size);
  }

  .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    overflow: auto;
    background: white;
    background-size: cover;
    border-radius: 5px;
    align-items: center;
    color: black;
    box-sizing: content-box;
    justify-content: space-between;

    label {
      font-weight: 200;
      font-size: var(--modal-label-font-size);
      font-family: system-ui;
    }

    #modal-event {
      flex-grow: 1;
      overflow: auto;
      display: flex;
      padding: 0;
      margin: 0;
      background: whitesmoke;
      background-size: contain;
      height: 100%;

      input, textarea {
        background: transparent;
        border-width: 1px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        font-size: var(--modal-font-size);
        border-bottom: 1px dotted gray;
        &:focus {
          outline: none;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        align-items: start;
        justify-content: space-around;
        padding-top: 0.5vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        box-sizing: border-box;

        #frequency-container {
          width: 100%;
          padding: .25rem 0 0.5rem 0;
          align-self: center;
        }

        #summary-div {
          background: whitesmoke;
          width: 100%;
          align-self: start;
          textarea {
            resize: none;
            font-size: 1.5rem;
            height: calc(100% - 1.5rem);
            border: 1px solid lightblue;
            background: aliceblue;
            overflow: auto;
            &:focus {
              outline: none;
            }
          }
        }

        #debt-id {
          label {
            font-size: 0.8rem;
          }
          select {
            height: 1.25rem;
          }
        }

        #amount-div {
          align-self: start;
          background: whitesmoke;
          display: flex;
          box-sizing: content-box;
          flex-direction: column;
          align-items: start;
          padding: 0;
          display: flex;
          flex-grow: 1;
          width: 100%;
          input {
            font-size: 2.35rem;
          }
        }
      }

      #time-container {
        display: flex;
        flex-direction: column;

        
        #date-container {
          padding: 1rem 0;
        }
      }

    }
    .button-footer {
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      button {
        background: whitesmoke;
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: .88rem;
        color: darkblue;
        font-family: Charter;
        text-align: justify;
        margin-left: 0.2rem;
        &:first-of-type {
          border-top-right-radius: 5px;
        }

        &:last-of-type {
          border-bottom-right-radius: 5px;
        }

        &:hover {
          cursor: pointer;
          background: transparent;
          color: black;
        }
      }
    }
  }
}